* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: bold;
}

body {
  min-height: 100vh;
  background: #f2f5ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: bold;
}


.card {
  width: 650px;
  display: flex;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}


.result {
  width: 50%;
  padding: 40px;
  text-align: center;
  color: #fff;
  border-radius: 5%;
  background: linear-gradient(180deg, #7b5cff, #5a3cff);
}

.result-title {
  opacity: 0.8;
  margin-bottom: 25px;
}

.score-circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 0 auto 25px;
  background: linear-gradient(180deg, #4e2dff, #7b5cff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-circle .score {
  font-size: 56px;
  font-weight: bold;
}

.score-total {
  font-size: 14px;
  opacity: 0.7;
}

.result-grade {
  font-size: 24px;
  margin-bottom: 10px;
}

.result-description {
  font-size: 14px;
  opacity: 0.85;
  font-weight: lighter;
}


.summary {
  width: 50%;
  padding: 40px;
}

.summary-title {
  margin-bottom: 25px;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 14px;
}

.summary-item .label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.summary-item .score {
  font-weight: bold;
  color: #333;
}


.reaction {
  background: #fff2f2;
  color: #ff4d4d;
}

.memory {
  background: #fff8e5;
  color: #ffb700;
}

.verbal {
  background: #e9fbf6;
  color: #00a87e;
}

.visual {
  background: #eef2ff;
  color: #4d6cff;
}


.continue-btn {
  margin-top: 25px;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 30px;
  background: #303b5a;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.continue-btn:hover {
  background: #1f2845;
}


@media (max-width: 700px) {
  .card {
    flex-direction: column;
    width: 90%;
  }

  .result,
  .summary {
    width: 100%;
  }
}